@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
.div-header {
  display: flex;
  justify-content: space-between;
  margin: 30px 80px;
  align-items: center;
}

.nav_btn {
  background-color: white;
  border: none;
  font-size: 16px;
  padding: 8px 25px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ff8ed7;
}

/* .logo{
    width:22%
} */
.a_header {
  text-decoration: none;
  color: #ff8ed7;
}

.hero-title {
  font-weight: 700;
  padding: 25px 214px;
}

.hero-description {
  padding: 10px;
  width: 29em;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btn_body {
  background-color: #ff52bf;
  border: 1px solid #ff52bf;
  font-size: 16px;
  padding: 14px 35px;
  border-radius: 50px;
  text-align: center;
  color: white;
  margin: 20px 0px 120px 0px;
}

.a_body {
  color: white;
  text-decoration: none;
}

.img_size {
  height: auto;
  width: 50%;
}

.diagram {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 32%; */
}

.h1_diagram {
  font-size: 60px;
}

.h1_mesages {
  font-size: 60px;
}
.p_mesages {
  color: #808e9a;
  font-size: 24px;
}

.comunties {
  padding-right: 19.7vw;
}
.p_comunites {
  color: #808e9a;
  font-size: 24px;
}

.img_gwTogether {
  height: 31.3vw;
  width: 41.42vw;
}

.top_together {
  width: 100%;
  margin-bottom: -6px;
}
.gw_together {
  display: inline-flex;
  flex-wrap: wrap;
  height: 600px;
  justify-content: center;
  width: 100%;
  /* padding: 0;
  display: flex;
  justify-content: space-around; */
  background-color: #f5fbff;
}

.bottom_together {
  width: 100%;
}

.section_together {
  margin: 0;
  padding: 0;
}

p.together {
  padding: 2px;
  width: 32em;
  text-align: left;
  font-size: 16px;
  padding-top: 20px;
}

.gw_togetherText {
  padding-left: 10vw;
  /* height: 54px; */
  margin-top: 25vh;
}
/*

.testClass{
    display:inline-block;
    padding:80px 80px;
}

*/
